.body
  -# = render partial: "shared/side_bar"

  .main
    .contents
      .contents__title 新規会員登録
      .regi-box
        .regi-box__btn.btn__email
        .regi-box__btn.btn__fb
        .regi-box__btn.btn__gm
  

      -# .namebox 
      -#   Member:
      -#   - @group.users.each do |user|
      -#     = user.name
      
      
      -# .edit__btn
      -#   = link_to 'Edit', edit_group_path(@group) ,class: "btn"

      -# = link_to edit_group_path(@group) do
      -#   .edit__btn
      -#     Edit


    -# .send__text
    -#   .type_text
    -#     = form_for [@group, @message] do |f|
    -#       = f.text_field :content, class: 'input', placeholder: '  type a message'
    -#       .image_tag
    -#         = f.label :image, class: 'form__mask__image' do
    -#           = fa_icon 'image', class: 'contents__btn--icon'
    -#           = f.file_field :image, class: 'hidden'
    -#         = f.submit 'Send', class: 'send'

