!!!
= render partial: 'layouts/user_registration_status_bar'
%main.main
  %section.contents
    .payment__title 
      支払い方法

    .form-group
      %label{for:"card_number"} カード番号
      %span.form-require 必須


