!!!
= render partial: 'layouts/user_registration_status_bar'
%main.main
  %section.contents
    .payment__title 
      支払い方法
    .form__box
      .form-group
        %label{for:"card_number"} カード番号
        %span.form-require 必須
        %input.input-default
        %img{:alt => "代替テキスト", :height => "画像の高さ", :src => "visa.png", :width => "画像の幅"}/



