= render partial: '/shared/headers', locals: { categories: @categories }
/////////////////////////////////

.credit_card_main
  .credit_card_main__left
    .credit_card_main__left__box
    =render partial:'/shared/side_bar'
  .credit_card_main__right
    .credit_card_main__right__box
      .credit_card_main__right__box__top
        支払い方法
      .credit_card_main__right__box__bottom
        .credit
          クレジットカード一覧
        .add-credit
          =link_to new_card_path(current_user)do
            = fa_icon "credit-card"
            クレジットカードを追加する
      .credit_card_main__right__box__2
        支払い方法について
        = fa_icon "angle-right" 

///////////////////////////////////

/////////////////////
//ここはフッター

= render partial: '/shared/footer2'