-# 検索窓やカテゴリーのドロップダウンメニューがあるheader
= render partial: "shared/headers"
.main-page
  .main-page_box
    .r-content-edit
      .r-content-edit__header
        プロフィール編集
      .r-content-edit__image
        .r-content-edit__image__box
          .r-content-edit__image__box__in
            .r-content-edit__image__box__in__image
            %input{:name => "profile",class:"ll",value:@user.nickname}
      .r-content-edit__main
        %textarea{ rows: "12",cols:"78"}
        .bottom-btn
           変更する
    -# ユーザーマイページ関連のサイドバー
    = render partial: '/shared/side_bar'
-# 情報量の多いfooter
= render "shared/footer2"