= render partial: '/shared/headers', locals: { categories: @categories }

/////////////////////////////////
.header_bottom-bottom
  %ul
    %li.name1
      メルカリ
      = fa_icon "angle-right"
    %li.name1
      マイページ
      = fa_icon "angle-right"
    %li.name2
      プロフィール
.credit_card_main
  .credit_card_main__left
    .credit_card_main__left__box
      .l-content
        .l-content-box
          .l-content-list
            .l-box1
              マイページ
              .list1
                =fa_icon "angle-right"
            .l-box2
              お知らせ
              .list2
                =fa_icon "angle-right"
          .l-box3
            やることリスト
            .list3
              =fa_icon "angle-right"
          .l-box4
            いいね！一覧
            .list4
              =fa_icon "angle-right"
          .l-box5
            出品する
            .list5
              =fa_icon "angle-right"
          .l-box6
            出品した商品-出品中
            .list6
              =fa_icon "angle-right"
          .l-box7
            出品した商品-取引中
            .list7
              =fa_icon "angle-right"
          .l-box8
            出品した商品-売却済み
            .list8
              =fa_icon "angle-right"
          .l-box9
            購入した商品-取引中
            .list9
              =fa_icon "angle-right"
          .l-box10
            購入した商品-過去の取引
            .list10
              =fa_icon "angle-right"
          .l-box11
            ニュース一覧
            .list11
              =fa_icon "angle-right"
          .l-box12
            評価一覧
            .list12
              =fa_icon "angle-right"
          .l-box13
            ガイド
            .list13
              =fa_icon "angle-right"
          .l-box14
            お問い合わせ
            .list14
              =fa_icon "angle-right"
      .l-merupei-box
        メルペイ
      .l-content-box2
        .l-box15
          売上・振込申請
          .list15
            =fa_icon "angle-right"
        .l-box16
          ポイント
          .list16
            =fa_icon "angle-right"
        .l-settei-box
          設定
        .l-content-box3
          .l-box17
            プロフィール
            .list17
              =fa_icon "angle-right"
          .l-box18
            発送元・お届け先住所変更
            .list18
              =fa_icon "angle-right"
          .l-box19
            支払い方法
            .list19
              =fa_icon "angle-right"
          .l-box20
            メール/パスワード
            .list20
              =fa_icon "angle-right"
          .l-box21
            本人情報
            .list21
              =fa_icon "angle-right"
          .l-box22
            電話番号
            .list22
              =fa_icon "angle-right"
          .l-box23
            ログアウト
            .list23
              =fa_icon "angle-right"
  .profile-box
    .profile-box__left
      .profile-box__left__header
        プロフィール
      .profile-box__left__image
        %ul
          .profile-image
          .profile-name
      .profile-box__left__text
 

      .profile-box__left__bottom
        変更する
    
///////////////////////////////////
= render partial:'shared/footer2'
