.finished-header
  = render partial: 'layouts/user_registration_status_bar'
.finished-main
  .finished-center
    .finished-center__header
      会員登録完了
    .finished-center__main
      %p.a
        ありがとうございす。
      %p.b
        会員登録完了しました。
      .mercari-atart
        メルカリをはじめる
.finished-footer-view
  = render partial: 'shared/footer3'
.finished-footer
  = render partial: 'shared/footer4'
