-# 検索窓やカテゴリーのドロップダウンメニューがあるheader
= render partial: "shared/headers"
.main-page
  .main-page_box
    .r-content
      .contents
        .logout-form
          =link_to "ログアウト", destroy_user_session_path, method: :delete
    -# ユーザーマイページ関連のサイドバー
    = render partial: '/shared/side_bar'
-# 情報量の多いfooter
= render "shared/footer2"