.main
  .contents
    .contents__title 新規会員登録
    .regi-box

      %a.regi-box__btn.btn__email 
        %i.icon__email
        = icon 'far', 'envelope'


        メールアドレスで登録する

      %a.regi-box__btn.btn__fb 
        = icon 'fab', 'facebook-square'
        Facebookで登録する



      %a.regi-box__btn.btn__gm 
        %img{:alt => "btn__gm", :src => "/assets/google-logo.png"}/
        %i.icon__gm
        Googleで登録する


