= render "layouts/single_header"
.main
  .contents
    .contents__title 新規会員登録
    .regi-box
      =link_to new_user_registration_path, {class: "regi-box__btn btn__email"} do
        %i.icon__email
        = fa_icon 'envelope'
        メールアドレスで登録する
      %a.regi-box__btn.btn__fb 
        = fa_icon 'facebook-square'
        Facebookで登録する
      %a.regi-box__btn.btn__gm 
        %img{:alt => "btn__gm", :src => "/assets/google-logo.png"}/
        %i.icon__gm
        Googleで登録する


