= render partial: '/shared/headers', locals: { categories: @categories }
/////////////２枚目のヘッダー////////////
.second-header
  .s-header
    .s-header-box
    メルカリ
    .s-header-box1
      =fa_icon "angle-right"
    .s-header-box2
    マイページ
/////////メインページ//////
.main-page
  .main-page_box
    .r-content
      .r-content-top
        .r-content-top-main
          .top-abata
            .top-image
            .top-name
            .top-hyouka
            .top-kazu
      .r-content-main
        .main-top
          .main-top-left
            .main-top-left1
            お知らせ
          .main-top-right
            .main-top-right1
            やることリスト
        .main-tab
          .main-tab1
            .tab1
              .tab1a
                .tab1ax
                %img.tab1a{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .tab1b
                .tab1bx
                  WEWORKのCEOが退任疑惑。ソフトバンクなどの上からの圧力によって解任される見込み
                .tab1d
                  .tab1dtime
                    =fa_icon "clock-o"
                  .tabspan
                    8時間前
              .top-icon
                =fa_icon "angle-right"
        .main-tab-1
          .main-tab1-1
            .tab1-1
              .tab1a-1
                .tab1ax-1
                %img.tab1a-1{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .tab1b-1
                .tab1bx-1
                  任天堂マリオカートスマホで本日配信
                .tab1d-1
                  .tab1dtime-1
                    =fa_icon "clock-o"
                  .tabspan-1
                    22時間前
              .top-icon1
                =fa_icon "angle-right"
        .main-tab-2
          .main-tab1-2
            .tab1-2
              .tab1a-2
                .tab1ax-2
                %img.tab1a-2{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .tab1b-2
                .tab1bx-2
                  楽天携帯事業に参入したが、参入が遅れる見込み
                .tab1d-2
                  .tab1dtime-2
                    =fa_icon "clock-o"
                  .tabspan-2
                    1日前
              .top-icon2
                =fa_icon "angle-right"
        .main-tab-3
          .main-tab1-3
            .tab1-3
              .tab1a-3
                .tab1ax-3
                %img.tab1a-3{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .tab1b-3
                .tab1bx-3
                  株式会社div 10.8億円の資金調達した
                .tab1d-3
                  .tab1dtime-3
                    =fa_icon "clock-o"
                  .tabspan-3
                    2日前
              .top-icon3
                =fa_icon "angle-right"
        .main-tab-4
          .main-tab1-4
            .tab1-4
              .tab1a-4　一覧を見る
      .main-senter-tab
        .senter-header-tab
          購入した商品
      .senter-content-main
        .senter-main-top
          .senter-main-top-left
            .senter-main-top-left1
              取引中
          .senter-main-top-right
            .senter-main-top-right1
              過去の取引
        .senter-main-tab
          .senter-main-tab1
            .senter-tab1
              .senter-tab1a
                .senter-tab1ax
                %img.senter-tab1a{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .senter-tab1b
                .senter-tab1bx
                  現在の取引中です。
                .senter-tab1d
                  .senter-tab1dtime
                    =fa_icon "clock-o"
                .senter-tabspan
                  8時間前
              .senter-top-icon
                =fa_icon "angle-right"
        .senter-main-tab-4
          .senter-main-tab1-4
            .senter-tab1-4
              .senter-tab1a-4　一覧を見る
    ///////////左のページ////////////////////
    .l-content
      .l-content-box
        .l-content-list
          .l-box1
            マイページ
            .list1
              =fa_icon "angle-right"
          .l-box2
            お知らせ
            .list2
              =fa_icon "angle-right"
          .l-box3
            やることリスト
            .list3
              =fa_icon "angle-right"
          .l-box4
            いいね！一覧
            .list4
              =fa_icon "angle-right"
          .l-box5
            出品する
            .list5
              =fa_icon "angle-right"
          .l-box6
            出品した商品-出品中
            .list6
              =fa_icon "angle-right"
          .l-box7
            出品した商品-取引中
            .list7
              =fa_icon "angle-right"
          .l-box8
            出品した商品-売却済み
            .list8
              =fa_icon "angle-right"
          .l-box9
            購入した商品-取引中
            .list9
              =fa_icon "angle-right"
          .l-box10
            購入した商品-過去の取引
            .list10
              =fa_icon "angle-right"
          .l-box11
            ニュース一覧
            .list11
              =fa_icon "angle-right"
          .l-box12
            評価一覧
            .list12
              =fa_icon "angle-right"
          .l-box13
            ガイド
            .list13
              =fa_icon "angle-right"
          .l-box14
            お問い合わせ
            .list14
              =fa_icon "angle-right"
      .l-merupei-box
        メルペイ
      .l-content-box2
        .l-box15
          売上・振込申請
          .list15
            =fa_icon "angle-right"
        .l-box16
          ポイント
          .list16
            =fa_icon "angle-right"
      .l-settei-box
        設定
      .l-content-box3
        .l-box17
          プロフィール
          .list17
            =fa_icon "angle-right"
        .l-box18
          発送元・お届け先住所変更
          .list18
            =fa_icon "angle-right"
        .l-box19
          支払い方法
          .list19
            =fa_icon "angle-right"
        .l-box20
          メール/パスワード
          .list20
            =fa_icon "angle-right"
        .l-box21
          本人情報
          .list21
            =fa_icon "angle-right"
        .l-box22
          電話番号
          .list22
            =fa_icon "angle-right"
        .l-box23
          ログアウト
          .list23
            =fa_icon "angle-right"
/////////////////////
//ここはボトムのビュー
.top-bottom-view
/////////////////////
//ここはフッター
.top-footer
  .top-footer__content
    %li.content__a
      メルカリについて
      %p 会社概要
      %p 採用情報
      %p プレスリリース
      %p 公式ブログ
      %p メルカリロゴ利用ガイドライン
    %li.content__b
      ヘルプ＆ガイド
      %p メルカリガイド
      %p らくらくメルカリ便
      %p ゆうゆうメルカリ便
      %p 大型メルカリ便
      %p 車体取引ガイド 
      %p メルカリあんしんあんぜん宣言！
      %p 偽ブランド品撲滅への取り組み
      %p メルカリボックス
    %li.content__c
      プライバシーと利用規約
      %p プライバシーポリシー
      %p メルカリ利用規約
      %p 安心スマホサポート制度に関<br>する利用規約
      %p コンプライアンスポリシー
    %li
      %p.content 個人データ安全管理に関わる基本<br>方針
      %p 特定商取引に関する表記
      %p 資金決済法に基づく表示
      %p 法令順守と犯罪防止のために
    %li.content__d
      国
      %p 日本
      %p United States
  .top-footer__bottom
    .top-footer__bottom__box
      %a.twitter-logo{ href:"https://twitter.com/mercari_jp"}
        
      %a.font-bottom{ href: "https://www.mercari.com/jp/"}
        %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg", :alt=>"Mercari", :class=>"top-mercari_logo"}
      .font-bottom-icon
        
      %p ©2019 Mercari







