= render partial: 'layouts/user_registration_status_bar'

%main.main
  %section.contents
    %h2.regi__title 電話番号の確認
    %form.regi-box
      .form-group
        %label 携帯電話の番号
        %input.input-default{placeholder: "携帯電話の番号の入力"}