= render partial: 'layouts/user_registration_status_bar'

%main.main
  %section.contents
    .regi__title 電話番号の確認
    .sms-confirmation-box
      .number-form
        携帯電話の番号
        %input{placeholder: "携帯電話の番号の入力"}