.top-bottom-view
  .top-bottom-view__left
    .top-bottom-view__left__text
      %p.text-a
        スマホで簡単フリマアプリ
      %p.text-b
        今すぐ無料ダウンロード!
      .text-c
        =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png")
        =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" do
          =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class:"b")
        =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" do
          =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",class:"c")
      .text-d
    .top-bottom-view__left__image
      =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",class:"bottom-image")
/////////////////////
//ここはフッター
.top-footer
  .top-footer__content
    %li.content__a
      メルカリについて
      %p.a 会社概要
      %p 採用情報
      %p プレスリリース
      %p 公式ブログ
      %p メルカリロゴ利用ガイドライン
      =link_to root_path class:"logo" do
        = fa_icon"twitter"
      %a.logo{href: "https://www.facebook.com/mercari_jp"}
        = fa_icon"facebook-square"
    %li.content__b
      ヘルプ＆ガイド
      %p メルカリガイド
      %p らくらくメルカリ便
      %p ゆうゆうメルカリ便
      %p 大型メルカリ便
      %p 車体取引ガイド 
      %p メルカリあんしんあんぜん宣言！
      %p 偽ブランド品撲滅への取り組み
      %p メルカリボックス
    %li.content__c
      プライバシーと利用規約
      %p プライバシーポリシー
      %p メルカリ利用規約
      %p 安心スマホサポート制度に関<br>する利用規約
      %p コンプライアンスポリシー
    %li
      %p.content 個人データ安全管理に関わる基本<br>方針
      %p 特定商取引に関する表記
      %p 資金決済法に基づく表示
      %p 法令順守と犯罪防止のために
    %li.content__d
      国
      %p 日本
      %p United States
  .top-footer__bottom
    .top-footer__bottom__box
      %a.twitter-logo{ href:"https://twitter.com/mercari_jp"}
        
      %a.font-bottom{ href: "https://www.mercari.com/jp/"}
        =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg",alt:"Mercari", class:"top-mercari_logo")
      .font-bottom-icon
        
      %p ©2019 Mercari