.l-content
  .l-content-box
    .l-content-list
      .l-box2
        マイページ
        .list3
          =fa_icon "angle-right"
      .l-box2
        お知らせ
        .list3
          =fa_icon "angle-right"
      .l-box2
        やることリスト
        .list3
          =fa_icon "angle-right"
      .l-box2
        いいね！一覧
        .list3
          =fa_icon "angle-right"
      .l-box2
        出品する
        .list3
          =fa_icon "angle-right"
      .l-box2
        出品した商品-出品中
        .list3
          =fa_icon "angle-right"
      .l-box2
        出品した商品-取引中
        .list3
          =fa_icon "angle-right"
      .l-box2
        出品した商品-売却済み
        .list3
          =fa_icon "angle-right"
      .l-box2
        購入した商品-取引中
        .list3
          =fa_icon "angle-right"
      .l-box2
        購入した商品-過去の取引
        .list3
          =fa_icon "angle-right"
      .l-box2
        ニュース一覧
        .list3
          =fa_icon "angle-right"
      .l-box2
        評価一覧
        .list3
          =fa_icon "angle-right"
      .l-box2
        ガイド
        .list3
          =fa_icon "angle-right"
      .l-box2
        お問い合わせ
        .list3
          =fa_icon "angle-right"
  .l-merupei-box
    メルペイ
  .l-content-box2
    .l-box2
      売上・振込申請
      .list3
        =fa_icon "angle-right"
    .l-box2
      ポイント
      .list3
        =fa_icon "angle-right"
  .l-settei-box
    設定
  .l-content-box3
    .l-box2
      プロフィール
      .list3
        =fa_icon "angle-right"
    .l-box2
      発送元・お届け先住所変更
      .list3
        =fa_icon "angle-right"
    .l-box2
      支払い方法
      .list3
        =fa_icon "angle-right"
    .l-box2
      メール/パスワード
      .list3
        =fa_icon "angle-right"
    .l-box2
      本人情報
      .list3
        =fa_icon "angle-right"
    .l-box2
      電話番号
      .list3
        =fa_icon "angle-right"
    .l-box2
      ログアウト
      .list3
        =fa_icon "angle-right"