-# 検索窓やカテゴリーのドロップダウンメニューがあるheader
= render partial: "shared/headers"
.main-page
  .main-page_box
    .r-content
      .contents
        
    -# ユーザーマイページ関連のサイドバー
    = render partial: '/shared/side_bar'
-# 情報量の多いfooter
= render "shared/footer2"