.shyouhin-main
  = render partial: '/shared/headers', locals: { categories: @categories }
  .shyouhin-box
    .item-name Apple Watch Series 5
    .item-main-content
      .item-photo
        .item-photo-main
          .item-suraido
          .item-suraido1
          .item-suraido2
        .item-table
          .table-body1
          .table-body2
          .table-body3
          .table-body4
          .table-body5
          .table-body6
      .item-category
        .category-box
          .category1
            .category1-box
              出品者
            .category1-box1
              マークザッカーバーグ
        .item-price
          .price-name
          .price-tax
          .price-free
        .item-buy
        .item-setumei
        .item-hyouka
          .item-hyouka-left
            .item-iine
            .item-houkoku
          .item-hyouka-right
            .item-icon
            .item-span
  .item-message
    .message-box
      .message-box-content
        .message-form
          .message-setumei
          .message-text
          .message-coment
  .item-link
    .link-left
      .link-box
      .link-icon
    .link-right
      .link-box
      .link-icon
  .item-media
    .media-top
    .media-box
      .social-left
      .social-main
      .socal-right
  .item-user-profile
    .user-item-top
    .user-item-content
      .user-item-box
  .item-second-footer
    .item-footer-main
      .item-footer-name
      .item-footer-icon
      .item-footer-syousai




