.main{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;

}


.post-item-title{
  text-align: center;
  font-weight: bold;
  color: #333333;
  font-size: 22px;
  line-height: 1.5;
  padding: 32px 16px;
}

.upload-pics{
  width: 620px;
  padding: 40px;
  border-top: 1px solid #eee;
}

.sell-contents{
  margin: 8px 0 0;
  border-radius: 4px;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin: 8px 0 0;
  display: block;
  border: 1px #ccc;
  padding: 40px;
  border-top: 1px solid #eee;
  float: right;
}

  
.sell-content{
padding: 30px 30px;
margin: 40px 0 0;

}

form.sell-form{
  // height: 100%;
  // display: flex;

}

.form-group-box{
  z-index: auto;
  padding: 40px;
  width: 100%;
  border-top: 1px solid #eee;
  max-width: 343px;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;


}

#drop_zone{

    position: relative;
    min-height: 115px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    display:flex;
    padding: 40px;

}

pre.drop_zone_text{
  // background-color: transparent;

  #preserve{
    position: absolute;
    color: black;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
#my_form{
  label.input{
    background-color: red;
    width: 101%;
    height: 117px;
    input{
      display: none;
      // background-color: aquamarine;
      width: 101%;
      height: 117px;
    }
  }
}
h3.each-head{
  color: #888;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  margin-left: 0;
  
}

div.category_select_box{
border: 1px #ccc;
width: 400px;

}

.category_select{
  width: 100%;
  position: relative;
  z-index: 2;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  display: block;  
  margin: 20px 0;
  padding: 10px 16px 8px;
}


.form-group-box2{
  height:250px;
  width:100%;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  display: flex;
  .left-box{
    width:29%;
    height:90%;
    margin-top:20px;
    margin-left:10px;
    p{
      position:relative;
      left:191px;
      bottom:19px;
      width:18px;
      background-color:rgb(0, 195, 255);
      color:white;
      border-radius:50%;
      text-align:center;
    }
  }
  .right-box{
    width:60%;
    height:100%;
    margin-left:30px;
    .kakaku{
      height:70px;
      line-height: 80px;
      display:flex;
      list-style:none;
      ul{
        display:flex;
        height:20px;
        width:100px;
        line-height:20px;
        margin-top:23px;
        li{
          margin-right:10px;
        }
        li.a{
          line-height:20px;
          width:38px;
          background-color:red;
          color:white;
          text-align:center;
          border-radius:3px;
        }
        li.b{
          font-weight:bold;

        }
      }
      p{
        margin-left:28%;
        margin-right:7px;
      }

    }
    .kakaku2{
      border-top:1px solid #ccc;
      border-bottom:1px solid #ccc;
      height:60px;
      line-height:60px;
      p{
        width:30%;
        float:left;
      }
      .price1{
        width: 100%;
        text-align:right;
      }
    }
    .kakaku3{
      height:100px;
      margin-top: 10px;
      .p{
        width: 30%;
        height:90px;
        margin-top: 10px;
        float: left;
        font-weight:bold;
      }
      .pricebox-all{
        width:70%;
        margin-top:10px;
        float: right;
        font-weight:bold;
        font-size:30px;
        font-weight:bold;
        text-align:right;
      }
    }
  }
 }

#item_size{
  position:relative;
  right:15px;
}

div.fee-to-days{
  padding: 40px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;

}

div.detail-to-status{
  padding: 40px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}





span.form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
label{
  font-weight: 600;
  font-size: 14px;
}

.form-yourself{
  background: #ccc;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.sell-upload-drop-box{
  width: 100%;
  margin-left: 0;
}
.select-form{
  
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  z-index: 2;
  height: 48px;
  cursor: pointer;
  margin: 5px 0;  
}

.select-form-group{
  width: 100%;
  width: 400px;
  
  // position: relative;
  // z-index: 2;
  // height: 48px;
  // border-radius: 4px;
  // border: 1px solid #ccc;
  // background: 0;
  // font-size: 16px;
  // line-height: 1.5;
  // cursor: pointer;
  // display: block;
  // padding: 10px 16px 8px;
}

.brand-form-group{

  margin: 20px 0 0;
  width: 100%;
  width: 400px;
}

.select-default{

  width: 100%;
  margin: 10px 0 25px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  z-index: 2;
  height: 48px;
  cursor: pointer;


}

#item_brandname{
margin: 5px 9px 30px 20px;
}

.input-default{
  width: 100%;
  margin: 20px 0 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
  right: 16px;
}
#item_brand_id{
  position: relative;
  left: 0;
}

.input-default-status {
  width: 100%;
  margin: 20px 0 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;

}

.forprice{

  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1;
  font-size: 16px;
  float: right;

  height:30px;
  width:150px;
  margin-top:15px;

}

.selling-fee{
    padding: 24px 0;
    border-top: 1px solid #ccc;
}

label.for-interest{
    font-size: 16px;

}

.excuse{
    padding: 40px;
    border-top: 1px solid #eee;
    display: block;
}
.input-default-datail{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  position: relative;
  right:16px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;

}

#list{
opacity: 0;
}

.form-post{
  line-height: 48px;
  font-size: 14px;
  background-color: #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  margin: 40px 0 0;

}

.form-back{
  width: 45%;
  font-size: 14px;
  text-align: center;
  line-height: 53px;
  margin: 0 auto;
  margin-top: 37px;
  color: #fff;
  background: #aaa;
  border: 1px solid #aaa;
}


a{
  color: #0099e8;
  text-decoration: none;
  font-size: 14px;

}

span{
  font-size: 14px;
  color: black;
}

#item_days{
  margin: 10px 0;
  width: 100%;
  height:48px;
  background-color: #FFFFFF;
}

.form__box__feedays{
  margin: 10px 0;
  text-align: left;
  font-size: 14px;
}
#item_shipping_way{
  margin: 10px 0;
  width: 100%;
  height:48px;
  position:relative;
  background-color: #FFFFFF;
}

#item_shipping_fee{
  margin: 10px 0;
  width: 100%;
  height:48px;
  position:relative;
  background-color: #FFFFFF;

}
#item_item_status{
  margin: 10px 15px;
  height:48px;
  position:relative;
  right:15px;
  background-color: #FFFFFF;
}
#item_size{
  margin: 10px 0;
  width:343px;
  height:48px;
}
#item_region_id{
  margin: 10px 0;
  width: 100%;
  left:14px;
  height:48px;
  background-color: #FFFFFF;
}
.price-field{
  margin: 10px 0;
  width:343px;
  height:48px;
}
.image-box{
  height:117px;
  width:79px;
  z-index: 3;
  border-right: 5px solid white;
  background-color:  #FCFCFC;
  .image{
    width:100%;
    height:70px;
    margin-top: 5px;
    overflow:hidden;
  }
  .bottom{
    width:100%;
    height:38px;
    position:relative;
    display:flex;
    .edit{
      height:22px;
      top: 8px;
      border-radius: 5px;
      left:5px;
      position: relative;
      width: 27px;
      color: rgb(0, 195, 255);
      font-size: 13px;
    }
    .delete{
      height:22px;
      top: 8px;
      border-radius: 5px;
      left:18px;
      color: rgb(0, 195, 255);
      position: relative;
      width: 28px;
      font-size: 13px;
    }
  }
}