.main{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;

}

.post-item-title{
  text-align: center;
  font-weight: bold;
  color: #333333;
  font-size: 22px;
  line-height: 1.5;
  padding: 32px;
}



.sell-contents{
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  margin: 8px 0 0;
}
  
.sell-content{
padding: 30px 30px;
margin: 40px 0 0;

}

form.sell-form{
  // height: 100%;
  // display: flex;

}

.form-group{
  z-index: auto;
  padding: 40px;
  width: 100%;
  border-top: 1px solid #eee;
  max-width: 343px;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;


}

#drop_zone{

  position: relative;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;

}

.each-head{
  color: #888;
  font-size: 14px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.category-box{
border: 1px #ccc;
}

.category_select{
  width: 100%;
  margin: 10px 0 25px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  z-index: 2;
  height: 48px;
  cursor: pointer;


}

.sell-contents{
  display: block;
  border: 1px #ccc;

}



span.form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
label{
  font-weight: 600;
}

.form-yourself{
  background: #ccc;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.sell-upload-drop-box{
  width: 100%;
  margin-left: 0;
}

select.select-default{

  width: 100%;
  margin: 10px 0 25px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  z-index: 2;
  height: 48px;
  cursor: pointer;


}

.input-default{
  width: 100%;
  margin: 20px 0 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.input-default-status {
  width: 100%;
  margin: 20px 0 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;

}

.input-default-datail{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;


}

.form-post{
  line-height: 48px;
  font-size: 14px;
  background-color: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
}

.form-back{
  width: 45%;
  font-size: 14px;
  text-align: center;
  line-height: 53px;
  color: #fff;
  background: #aaa;
  border: 1px solid #aaa;

}


a{
  color: #0099e8;
  text-decoration: none;
}






// .hidden{
//   display: none;
// // visibility: visible;  /* 表示する */
// // visibility: hidden;   /* 表示しない */
// }

// if~else文は @if <条件> {<設定内容a>} @else {<設定内容b>}と書いて、
// 条件文を満たす場合と満たさない場合それぞれのプロパティが設定されます。

// .category_select {
//     position: relative;
//     display: inline-block;
// }
// .category_select:focus .category_select.hidden {
//   // :focus擬似クラスは、ユーザーの操作で要素がフォーカスされた際のスタイルを指定します
//     /* content is visible if menu is 'opened' */
//     display: visible;
// }
// .category_select.hidden {
//   // display: none;
//   position: absolute;
//   z-index: 1;
//   /* disable visibility by default, delay to enable clicks */ visibility: hidden;
//   transition: visibility 0.5s;
// }
// .category_select:focus .category_select.hidden {
//   display: visible;
//     /* content is visible if menu is 'opened' */ 
// }
