// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-item-title{
  text-align: center;
  font-weight: bold;
  color: #333333;
  font-size: 22px;
  line-height: 1.5;
  padding: 32px;
  // background-color: #fff;
}


.hidden{
  display: none;
  // visibility: visible;  /* 表示する */
// visibility: hidden;   /* 表示しない */
}

// if~else文は @if <条件> {<設定内容a>} @else {<設定内容b>}と書いて、
// 条件文を満たす場合と満たさない場合それぞれのプロパティが設定されます。