.header-contents{
  // padding-left: 25%;
  text-align: center;

  .head-logo{
    margin: 0;
    display: inline-block;
  }
}

//新規登録の状態を表すバーに関するcss
.nakamura-timeline{
  display: inline-block;
  position: relative;
  bottom: 35px;
  .circle {
    color: #444;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
    background-color: #CCCCCC;
  
  }
  .circle__first {
    color: #444;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
    background-color: #CCCCCC;
  }
  .circle__first::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    background: #CCCCCC;
  }
  .circle__last {
    color: #444;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
    background-color: #CCCCCC;
  
  }
  .circle__last::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    right: 6px;
    background: #CCCCCC;
  }
  .circle::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 115px;
    right: 6px;
    background: #CCCCCC;
  }
  .circle::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    background: #CCCCCC;
  }
  
  ol{
    display: flex;
    padding: 40px 0 0 44px;
    vertical-align: top;
    line-height: 100%;
    text-align:center;
  }
  
  li{
    list-style: none;
    font-size: 12px;
    color: #888888;
    margin: 0 25px 0 8px;
    position: relative;
  }
}