.header-contents{
  // padding-left: 25%;
  text-align: center;

  .head-logo{
    margin: 0;
    display: inline-block;
  }
}

//新規登録の状態を表すバーに関するcss
.nakamura-timeline{
  display: inline-block;
  position: relative;
  bottom: 35px;
  .circle {
    color: #444;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
    background-color: #CCCCCC;
  }
  .circle::before {
    content: "";
    position: absolute;
    right: 50%;
    z-index: -1;
    display: block;
    height: 2px;
    width: 100%;
    background: #CCCCCC;
  }
  .circle::after {
    content: "";
    position: absolute;
    left: 50%;
    z-index: -1;
    display: block;
    height: 2px;
    width: 100%;
    background: #CCCCCC;
  }

  li:first-child{
    .circle::before{
      height: 0;
      width: 0;
    }
  }

  li:last-child{
    .circle::after{
      height: 0;
      width: 0;
    }
  }
  
  ol{
    display: flex;
    padding: 40px 0 0 44px;
    vertical-align: top;
    line-height: 100%;
    text-align:center;
  }
  
  li{
    list-style: none;
    z-index: 1;
    font-size: 12px;
    color: #888888;
    margin: 0 25px 0 8px;
    position: relative;
  }

  .active{
    color: #ea352d;
    .circle{
      background-color: #ea352d;
    }
    .circle::before{
      background-color: #ea352d;
    }
  }
  .through{
    .circle{
      background-color: #ea352d;
    }
    .circle::before{
      background-color: #ea352d;
    }
    .circle::after{
      background-color: #ea352d;
    }
  }
}