.header-contents{
  // padding-left: 25%;
  text-align: center;

  .head-logo{
    margin: 0;
    display: inline-block;
  }
}

.nakamura-timeline{
  display: inline-block;
  position: relative;
  bottom: 35px;
}
  .circle {
    color: #444;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
    background-color: #CCCCCC;
  
  }

  .circle__first {
    color: #444;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
    background-color: #CCCCCC;
  }
  

  .circle__first::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    background: #CCCCCC;
  }



  .circle__last {
    color: #444;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
    background-color: #CCCCCC;
  
  }

  .circle__last::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    right: 6px;
    background: #CCCCCC;
  }


  .circle::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    right: 6px;
    background: #CCCCCC;
  }
  .circle::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    background: #CCCCCC;
  }

  ol{
    display: flex;
    padding: 40px 0 0 44px;
    vertical-align: top;
    line-height: 100%;
    text-align:center;

  }

  li{
    list-style: none;
    font-size: 12px;
    color: #888888;
    margin: 0 25px 0 0;
    position: relative;


    }











// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   // box-sizing: border-box;
// }

// button {
//   background: transparent;
//   border: none;
//   cursor: pointer;
//   outline: none;
// }

// /* TIMELINE
// –––––––––––––––––––––––––––––––––––––––––––––––––– */
// .timeline {
//   white-space: nowrap;
//   overflow-x: hidden;
// }

// .timeline ol {
// }

// .timeline ol li {
//   position: relative;
//   display: inline-block;
//   list-style-type: none;
//   width: 50px;
//   height: 3px;
//   background: #fff;
// }


// .timeline ol li:not(:first-child) {
//   margin-left: 14px;
// }

// .timeline ol li:not(:last-child)::after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: calc(100% + 1px);
//   bottom: 0;
//   transform: translateY(-50%);
//   border-radius: 50%;
//   background: #F45B69;
//   width: 12px;
//   height: 12px;
// }

// .timeline ol li div::before {
//   content: '';
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 0;
//   height: 0;
//   border-style: solid;
// }

// .timeline ol li:nth-child(odd) div {
//   top: -16px;
//   transform: translateY(-100%);
// }

// .timeline ol li:nth-child(odd) div::before {
//   top: 100%;
//   border-width: 8px 8px 0 0;
//   border-color: white transparent transparent transparent;
// }

// .timeline ol li:nth-child(even) div {
//   top: calc(100% + 16px);
// }

// .timeline ol li:nth-child(even) div::before {
//   top: -8px;
//   border-width: 8px 0 0 8px;
//   border-color: transparent transparent transparent white;
// }

// .timeline time {
//   display: block;
//   font-size: 1.2rem;
//   font-weight: bold;
//   margin-bottom: 8px;
// }












.regi__title{
    text-align: center;
    font-weight: bold;
    color: #333333;
    font-size: 22px;
    line-height: 1.5;
    padding: 32px;
    // background-color: #fff;

    }
  
    .form__box{
      border-top: 1px solid #f5f5f5;
      padding: 0 20px;
      // background-color: #f5f5f5;
      max-width: 343px;
      margin: 0 auto;
      text-align: left;
      font-size: 14px;

    span.form-require {
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
  }

  label{
    font-weight: 600;
  }


  .birthday-select-wrap{
    height: 48px;
    width: 100%;
    // padding: auto;
    display: flex;
    margin: 8px 0 0;
    padding: 10px 16px 8px;
      select{
        margin: 0 auto;
        padding: 10px 16px 8px;

      }
  }


  .form-group{
    padding-bottom: 24px;
    width: 100%;
  }
  
  .form-group .input-default {
    width: 100%;
    box-sizing: border-box;
    // padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    // font-size: 12px;
    vertical-align: top;
    margin: 8px 0 0;
    padding: 10px 16px 8px ;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    height: 48px;
    }
    .birthday-select-wrap{
      width: 100%;
      background-color: #FFF;
      display: flex;

      // padding: 2px 4px;
      // border-radius: 2px;
      // color: #fff;
      // font-size: 12px;
      // vertical-align: top;
      // margin: 8px 0 0;
      // padding: 10px 16px 8px ;
      // border-radius: 4px;
      // border: 1px solid #ccc;
      // background: #fff;
      // line-height: 1.5;
      // font-size: 16px;
      // height: 28px;
      
    }

  

  }
  .human{

  }
  p.text{
    text-align: center;
    color: #888;

  }

  p.l-single-text.text-center{
    text-align: center;
  }

  .about{

  }

  button.btn-default.btn-red{
    font-family: inherit;
    // display: block;
    width: 50%;
    line-height: 48px;
    font-size: 14px;
    background-color: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }

  .form-group.text-right{
    color: #0099E8;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 0 100px;
    
  }







