.payment__title {

  height: 100%;
  text-align: center;
  font-weight: bold;
  color: #333333;
  font-size: 22px;
  line-height: 1.5;
  padding: 32px;
      

}

.card-number{
  padding-top: 20px;
}
.card-details{
  padding-top: 40px;

}

.security-code{
  padding-top: 40px;
  padding-bottom: 0;

}

.card-images{
display: inline-block;
img{
  height:30px;
  width: 40px;
}
}

.for-card{
margin: 20px 0 9px;
}
.question{
  text-align: right;
}

.btn-payment{
  text-align: center;
  margin-left: 25%;

}