.body{
  background-color: #f5f5f5;
  position: relative;
}
  .main{
    width: 700px;
    background-color: #f5f5f5;
    margin: 0 auto;


  }
    .contents{
      box-sizing: border-box;
      display: inline-block;  
      background-color: white;



    }
      .contents__title{
        height: 97px;
        width: 700px;
        color: #333333;
        font-size: 22px;
        padding: 32px;
        line-height: 1.5;
        text-align: center;
        // position: fixed;
        margin: 0;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    
      }
      .regi-box{
        // height: 247px;
        width: 700px;
    

      }
        .regi-box__btn.btn__email{

        }
        .regi-box__btn.btn__fb{

        }
        .regi-box__btn.btn__gm{

        }