// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ここはヘッダー
.top-header{
  height: 50px;
  width: 100vw;
  .top-header-logo{
    height: 52px;
    width:133px;
    float: left;
    margin-left:10%;
  }
  &__box{
    height: 100%;
    width: 86%;
    margin: 0 auto;
    .form{
      float: right;
      margin-top: 7px;
      width: 80%;
    }
    .form__serch{
      width:95%;
      height: 38px;
      background-color: #f5f5f5;
      border-radius: 5px;
      border: 1px solid #cccccc;
    }
    i.fas{
      width: 10px;
      height: 5px;
      position: absolute;
      right:150px;
      top: 21px;
      font-size: 80%;
      color: #333333;
    }
    
    .btn{
      display: none;
    }
    &__bottom{
      height:50px;
      width: 100vw;
      ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li{
          width:12%;
          line-height: 47px;
          font-size: 14px;
          }
        .lia{
          margin-left: 10%;
          font-weight: bold;
          transition: all;
          i.fas{
            color: red;
          }
          .lia-li{
            background-color:white;
            font-weight: normal;
            padding-left: 15px;
            color: #333333;
            width:224px;
            z-index: 1;
            position: relative;
          }
          .lia-li:hover{
            background-color:#FF3333;
            color: white;
          }
        }
        .lia:hover .lia-li{
          display: block;
        }
        .lia:hover,.lic1:hover{
          color: rgb(0, 195, 255);
        }
        .lib{
          width: 10%;
          text-align: center;
          .mypage{
            height:15px;
            width: 15px;
            background-color: #333333;
          }
        }
        .lic{
          margin-left: 2%;
          margin-right: 13%;
          font-weight: bold;
        }
        .lic1{
          text-decoration: none;
          color: #333333;
          i.fas{
            color: red;
          }
          i.fa-heart,i.fa-bell,i.fa-circle{
            font-size: 140%;
            color: lightgray;
          }
          i.fa-heart:hover,i.fa-bell:hover,i.fa-circle:hover{
            color: rgb(0, 195, 255);
          }
        }
        .lic2{
          text-decoration: none;
          color: #333333;
          i.fa-check{
            font-size: 140%;
            color: lightgray;
          }
          i.fa-check:hover{
            color: rgb(0, 195, 255);
          }
        }
        .lic2:hover{
          color: rgb(0, 195, 255);
        }
      }
    }
  }
}

//ここはスライドショー
.top-view{
  height: 390px;
  width: 100%;
  background-color: #EEEEEE;
  &__box{
    width:755px;
    height: 100%;
    margin: 0 auto;
    .top-view1{
      max-width: 755px;
      width: auto;
  }
}
}
//ここはカテゴリメニュー
.top-category{
  height: 171px;
  width: 100vw;
  background-color: #ffffff;
  text-align: center;
  // text-decoration: none;
  &__a{
    font-size: 28px;
    line-height: 161px;
    height: 114px;
    font-weight: bold;
    color: #333333;
    // text-decoration: none;
  }
  &__b{
    font-size: 14px;
    .category0{
      margin: 0 auto;
      width:600px;
      height:20px;
      // text-decoration: none;
      .category1{
        background-color: #efefef;
        float: left;
        margin: 0 auto;
        list-style: none;
        margin-left: 12px;
        font-weight: bold;
        height: 30px;
        padding: 0 10px 0 10px;
        line-height: 30px;
        border-radius: 15px;
        a.category2{
          text-decoration: none;
          color: #333333;
        }
        // text-decoration: none;
      }
  }
}}
// ここはカテゴリのアイテム
.top-category-item{
  height: 2614px;
  width: 100vw;
  background-color:#f5f5f5;
  &__box,&__box2,&__box3,&__box4{
    height: 593px;
    width: 80%;
    margin: 0 auto;
    padding-top: 42px;
    .lady-name-box{
      height: 33px;
      width:100%;
      .lady-name{
        height: 33px;
        width: 80%;
        float: left;
        font-weight: bold;
        font-size: 24px;
      }
      .lady-details{
        float: right;
        width:17%;
        font-size: 14px;
        color: rgb(0, 195, 255);
        padding: 5px 16px 5px 5px;
      }
    }
    .top-category-item__item{
      height:95%;
      width:100%;
      background-color: #f5f5f5;
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;

      &__box{
        width:18%;
        height: 252px;
        background-color: #333333;
        margin-right: 2%;
        margin-top: 2%;
        box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.4);
        &__bottom{
          position: relative;
          top: 77%;
          background-color: #EEEEEE;
          height: 23%;
        }
      }
    }
  }
  &__box2{
    padding-top:  42px;
    .mens-name-box{
      height: 33px;
      width:100%;
      .mens-name{
        height: 33px;
        width: 80%;
        float: left;
        font-weight: bold;
        font-size: 24px;
      }
      .mens-details{
        float: right;
        width:100px;
        font-size: 14px;
        color: rgb(0, 195, 255);
        padding: 5px 16px 5px 5px;
      }
    }
  }
  &__box3{
    padding-top:  42px;
    .kaden-name-box{
      height: 33px;
      width:100%;
      .kaden-name{
        height: 33px;
        width: 80%;
        float: left;
        font-weight: bold;
        font-size: 24px;
      }
      .kaden-details{
        float: right;
        width:100px;
        font-size: 14px;
        color: rgb(0, 195, 255);
        padding: 5px 16px 5px 5px;
      }
    }
  }
  &__box4{
    padding-top:  42px;
    .goods-name-box{
      height: 33px;
      width:100%;
      .goods-name{
        height: 33px;
        width: 80%;
        float: left;
        font-weight: bold;
        font-size: 24px;
      }
      .goods-details{
        float: right;
        width:100px;
        font-size: 14px;
        color: rgb(0, 195, 255);
        padding: 5px 16px 5px 5px;
      }
    }
  }
}
//ここはブランドのメニュー
.top-bland{
  height:161px;
  width: 100vw;
  background-color: #ffffff;
  text-align: center;
  &__a{
    color: #333333;
    font-size: 30px;
    line-height: 160px;
    font-weight: bold;
    height: 114px;
  }
  &__b{
    font-size: 14px;
    .bland0{
      margin: 0 auto;
      width:400px;
      height:20px;
      .bland1{
        background-color: #efefef;
        float: left;
        margin: 0 auto;
        list-style: none;
        margin-left: 12px;
        font-weight: bold;
        height: 30px;
        padding: 0 10px 0 10px;
        line-height: 30px;
        border-radius: 15px;
        a.bland2{
          text-decoration: none;
          color: #333333;
        }
      }
  }
  }
}
//ここはブランドのアイテム
// .top-bland-item{
//   height: 2230px;
//   width: 100vw;
//   background-color: #f5f5f5;
// }
.top-bland-item{
  height: 2614px;
  width: 100vw;
  background-color:#f5f5f5;
  &__box,&__box2,&__box3,&__box4{
    height: 593px;
    width: 80%;
    margin: 0 auto;
    padding-top: 42px;
    .syaneru-name-box{
      height: 33px;
      width:100%;
      .syaneru-name{
        height: 33px;
        width: 80%;
        float: left;
        font-weight: bold;
        font-size: 24px;
      }
      .syaneru-details{
        float: right;
        width:100px;
        font-size: 14px;
        color: rgb(0, 195, 255);
        padding: 5px 16px 5px 5px;
      }
    }
    .top-bland-item__item{
      height:95%;
      width:100%;
      background-color: #f5f5f5;
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;

      &__box{
        width:18%;
        height: 252px;
        background-color: #333333;
        margin-right: 2%;
        margin-top: 2%;
        box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.4);
        &__bottom{
          position: relative;
          top: 75%;
          background-color: #EEEEEE;
          height: 25%;
        
        }
      }
    }
  }
  &__box2{
    padding-top:  42px;
    .ruiviton-name-box{
      height: 33px;
      width:100%;
      .ruiviton-name{
        height: 33px;
        width: 80%;
        float: left;
        font-weight: bold;
        font-size: 24px;
      }
      .ruiviton-details{
        float: right;
        width:100px;
        font-size: 14px;
        color: rgb(0, 195, 255);
        padding: 5px 16px 5px 5px;
      }
    }
  }
  &__box3{
    padding-top:  42px;
    .syupurimu-name-box{
      height: 33px;
      width:100%;
      .syupurimu-name{
        height: 33px;
        width: 80%;
        float: left;
        font-weight: bold;
        font-size: 24px;
      }
      .syupurimu-details{
        float: right;
        width:100px;
        font-size: 14px;
        color: rgb(0, 195, 255);
        padding: 5px 16px 5px 5px;
      }
    }
  }
  &__box4{
    padding-top:  42px;
    .nike-name-box{
      height: 33px;
      width:100%;
      .nike-name{
        height: 33px;
        width: 80%;
        float: left;
        font-weight: bold;
        font-size: 24px;
      }
      .nike-details{
        float: right;
        width:100px;
        font-size: 14px;
        color: rgb(0, 195, 255);
        padding: 5px 16px 5px 5px;
      }
    }
  }
}
//ここはボトムにあるビュー
.top-bottom-view{
  width:100%;
  height: 260px;
  background-image: url(kkkkk.jpg);
  position: relative;
  z-index: 0;
  &__left{
    width:60%;
    height: 100%;
    margin: 0 auto;
    &__text{
      float: left;
      position: relative;
      z-index: 1;
      height: 100%;
      width: 60%;
      color: #EEEEEE;
      p.text-a{
        padding-top: 45px;
        position: relative;
        font-size: 24px;
        width: 100%;
        font-weight: bold;
      }
      p.text-b{
        font-size: 35px;
        width: 100%;
        font-weight: bold;
      }
      .text-c{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        img{
          height:68px;
          width: 68px;
        }
        .b{
          width:  144px;
          height: 40px;
          margin: 15px 10px 0 10px;
        }
        .c{
          width:  144px;
          height: 40px;
          margin-top: 15px;
        }
        .d{
          height: 300px;
          width: 260px;
        }
      }
      // img{
      //   height:68px;
      //   width: 68px;
      // }
    }
    &__image{
      width:40%;
      height:100%;
      float: right;
      .bottom-image{
        width:100%;
        height:100%;
      }
    }
  }
}
//ここはフッター
.top-footer{
  width: 100vw;
  height: 389px;
  background-color: #222222;
  color: #ffffff;
  &__content{
    height: 296px;
    width: 1020px;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    list-style: none;
    font-family: Yugothic;
    &__a{
        .facebook{
        height: 20px;
        width: 20px;
        position: relative;
        font-size: 20px;
      }
    }
    li{
      font-size: 16px;
      font-weight: bold;
      width: 30%;
      margin-top: 18px;
      p{
        font-family: arial;
        font-size: 12px;
        margin-top: 15px;
        text-align: left;
        font-weight: lighter;
        opacity: 0.8;
        .logo{
          position: absolute;
          top: 30px;
        }
      }
      p.content{
        margin-top:30px;
      }
    }
    .content__d{
      width: 20%;
    }
    li .content__c{
      padding-left:40px;
    }
    p:hover{
      text-decoration: white underline;
    }
  }
  &__bottom{
    height: 80px;
    position: relative;
    bottom: 0;
    &box{
      height:50px;
      width: 1010px;
      text-align: center;
      }
      p{
        height: 10px;
        width: 100px;
        font-size: 11px;
        // line-height: 90px;
        margin: 0 auto;
      }
      .font-bottom{
        position: relative;
        top:30px;
        left:10%;
      }
      .font-bottom-icon{
        height:30px;
        width:30px;
        
      }
      .top-mercari_logo:hover{
        opacity: 0.8;
      }
  }
}
.lic{
  text-decoration: none;
  color: rgb(0, 195, 255);
}
i.fab{
  font-size: 30px;
  margin-top:30px;
  color: #EEEEEE;
  margin-right: 20px;
}
.facebook-square{
  height:30px;
  width:30px;
  background-color: #222222;
  color: #222222;
  font-size: 20px;
}

///////////////////////////////
//////////////出品ボタン
.button-box{
  height: 160px;
  width: 160px;
  background-color: #ea352d;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  border-radius: 80px;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 94px;
  list-style: none;
  i.fas{
    font-size: 60px;
    position: relative;
    bottom: 30px;
  }
}
