// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.second-header{
  width: 100%;
  background-color:#ffffff;
  border-top: 1px solid #eee;
  box-shadow: 1px 1px 3px gray;
}
  .s-header{
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
  .s-header-box{
    display: inline-block;
  }
  .s-header-box1{
    display: inline-block;
  }
  .s-header-box2{
    display: inline-block;
  }
.main-page{
  width: 100%;
  height:1296px;
  .main-page_box{
    margin: 40px auto 0;
    width: 1020px;
    height: 190vh;
    .r-content{
      width: 700px;
      float: right;
      .r-content-top{
        position: relative;
        height: 200px;
        padding: 20px;
        background-image: image-url("publicdomainq-0018054pwq.jpg");
        background-repeat: no-repeat;
        .r-content-top-main{
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #333;
          .top-abata{
            overflow: hidden;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
            background-image: image-url("logo.png");
            background-repeat: no-repeat;
            .top-image{
      }
     }
    }
   }}
  }
}

.top-name{
  margin: 8px 0 0;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
.top-kazu{
  margin: 8px 0 0;
  text-align: center;
}
.kazu1{
  display: inline-block;
  text-align: center;
}
.kazu2{
  display: inline-block;
  text-align: center;
  margin: 0 0 0 8px;
  font-size: 16px;
}
.kazu3{
  display: inline-block;
  text-align: center;
  margin: 0 0 0 16px;
}
.kazu4{
  display: inline-block;
  text-align: center;
  margin: 0 0 0 8px;
  font-size: 16px;

}
.r-content-main{
    
  .main-top{
    line-height: 72px;
    }

    .main-top-left{
      display: inline-block;
      width: 50%;
      text-align: center;
      background: #fff;
      border-top: 2px solid #ea352d;
        .main-top-left1{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
         }
        }
        .main-top-right{
          display: inline-block;
          width: 50%;
          text-align: center;
          float: right;
      }
    }
  
  

  .main-tab{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
   .main-tab1{
     position: relative;
      display: block;
      .tab1{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d{
            display: inline-block;
            color: #888;}
          .tab1dtime{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan{
            display: inline-block;
          }
          .top-icon{
            position: absolute;
            right: 3%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            top:50%;
            font-size: 22px;
          }
      }}
   }

   .main-tab-1{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
   .main-tab1-1{
      display: block;
      position: relative;
      .tab1-1{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-1{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-1{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-1{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-1{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-1{
            display: inline-block;
            color: #888;}
          .tab1dtime-1{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-1{
            display: inline-block;
          }
         }
         .top-icon1{
          position: absolute;
          top:50%;
          right: 3%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          font-size: 22px;
        }
      }

   }
    
   .main-tab-2{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-2{
      display: block;
      position: relative;
      .tab1-2{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-2{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-2{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-2{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-2{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-2{
            display: inline-block;
            color: #888;}
          .tab1dtime-2{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-2{
            display: inline-block;
          }
          .top-icon2{
            position: absolute;
            right: 3%;
            top:50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 22px;
          }
      }}
   }

   .main-tab-3{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-3{
    position: relative;
      display: block;
      .tab1-3{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-3{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-3{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-3{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-3{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-3{
            display: inline-block;
            color: #888;}
          .tab1dtime-3{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-3{
            display: inline-block;
          }
          .top-icon3{
            position: absolute;
            top:50%;
            right: 3%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 22px;
          }
      }}
   }


   .main-tab-4{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-4{
      display: block;
      position: relative;
      .tab1-4{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;   
        .tab1a-4{
          display: block;
          height: 56px;
          margin: 0 auto;
          background: #eee;
          color: #333;
          line-height: 56px;
          text-align: center;
        }
    } }
  }
  .main-senter-tab{
    margin:40px 0 0;
    
  }
  .senter-header-tab{
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
    padding: 0 16px;
  }

  .senter-content-main{
  }
    .senter-main-top{
      line-height: 72px;
      }
  
      .senter-main-top-left{
        display: inline-block;
        width: 50%;
        text-align: center;
        background: #fff;
        border-top: 2px solid #ea352d;}

          .senter-main-top-left1{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
           }
          
          .senter-main-top-right{
            display: inline-block;
            width: 50%;
            text-align: center;
            float: right;
        }
        .senter-main-tab{
          background-repeat: no-repeat;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid #eee;
         .senter-main-tab1{
            display: block;
            position: relative;
            .senter-tab1{
              display: block;
              min-height: 48px;
              padding: 16px;
              color: #333;
              background: #fff;
      .senter-tab1a{
        position: relative;
        overflow: hidden;
        float: left;
        width: 48px;
        height: 48px;
      }
      .senter-tab1ax{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
      }
      .senter-tab1b{
        margin: 0 40px 0 68px;
        font-size: 14px;
      }
        .senter-tab1bx{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}
          .senter-tab1d{
            display: inline-block;
            color: #888;}
          .senter-tab1dtime{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .senter-tabspan{
            display: inline-block;
          }
          .senter-top-icon{
            position: absolute;
            right: 3%;
            top:50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 22px;
          }
        }}}
        .senter-main-tab-4{
          border-bottom: 1px solid #eee;
          background-repeat: no-repeat;
          margin: 0;
          padding: 0;
         .senter-main-tab1-4{
            display: block;
            position: relative;
            .senter-tab1-4{
              display: block;
              min-height: 48px;
              padding: 16px;
              color: #333;
              background: #fff;   
              .senter-tab1a-4{
                display: block;
                height: 56px;
                margin: 0 auto;
                background: #eee;
                color: #333;
                line-height: 56px;
                text-align: center;
              }
          } }
        }

    .l-content{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
    }
    .l-content-box{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    }
    .l-content-list{
      list-style: none;
    }
    .l-box1{
    position: relative;
    display: block;
    min-height: 20px;
    padding: 14px;
    font-size: 14px;
    color: #333;
    background: #eee;
    font-weight: 600;
    }
    .list1{
    background: #eee;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 22px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;
    }

    .l-box2{
      position: relative;
      display: block;
      min-height: 20px;
      padding: 14px;
      font-size: 14px;
      color: #333;
      background: #fff;
      }
      .list2{
        color: #ccc;
        font-weight: 600;
        position: absolute;
        top: 50%;
        right: 5%;
        font-size: 22px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transition: all ease-out .2s;
        transition: all ease-out .2s;
        }
        .l-box3{
          position: relative;
          display: block;
          min-height: 20px;
          padding: 14px;
          font-size: 14px;
          color: #333;
          background: #fff;
          }
          .list3{
            color: #ccc;
            font-weight: 600;
            position: absolute;
            top: 50%;
            right: 5%;
            font-size: 22px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            -webkit-transition: all ease-out .2s;
            transition: all ease-out .2s;
            }
          .l-box4{
            position: relative;
            display: block;
            min-height: 20px;
            padding: 14px;
            font-size: 14px;
            color: #333;
            background: #fff;
            }
            .list4{
              color: #ccc;
              font-weight: 600;
              position: absolute;
              top: 50%;
              right: 5%;
              font-size: 22px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              -webkit-transition: all ease-out .2s;
              transition: all ease-out .2s;
              }
            .l-box5{
              position: relative;
              display: block;
              min-height: 20px;
              padding: 14px;
              font-size: 14px;
              color: #333;
              background: #fff;
              }
              .list5{
                color: #ccc;
                font-weight: 600;
                position: absolute;
                top: 50%;
                right: 5%;
                font-size: 22px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                -webkit-transition: all ease-out .2s;
                transition: all ease-out .2s;
                }
              .l-box6{
                position: relative;
                display: block;
                min-height: 20px;
                padding: 14px;
                font-size: 14px;
                color: #333;
                background: #fff;
                }
                .list6{
                  color: #ccc;
                  font-weight: 600;
                  position: absolute;
                  top: 50%;
                  right: 5%;
                  font-size: 22px;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                  -webkit-transition: all ease-out .2s;
                  transition: all ease-out .2s;
                  }
                .l-box7{
                  position: relative;
                  display: block;
                  min-height: 20px;
                  padding: 14px;
                  font-size: 14px;
                  color: #333;
                  background: #fff;
                  }
                  .list7{
                    color: #ccc;
                    font-weight: 600;
                    position: absolute;
                    top: 50%;
                    right: 5%;
                    font-size: 22px;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    -webkit-transition: all ease-out .2s;
                    transition: all ease-out .2s;
                    }
                  .l-box8{
                    position: relative;
                    display: block;
                    min-height: 20px;
                    padding: 14px;
                    font-size: 14px;
                    color: #333;
                    background: #fff;
                    }
                    .list8{
                      color: #ccc;
                      font-weight: 600;
                      position: absolute;
                      top: 50%;
                      right: 5%;
                      font-size: 22px;
                      -webkit-transform: translate(0, -50%);
                      transform: translate(0, -50%);
                      -webkit-transition: all ease-out .2s;
                      transition: all ease-out .2s;
                      }
                    .l-box9{
                      position: relative;
                      display: block;
                      min-height: 20px;
                      padding: 14px;
                      font-size: 14px;
                      color: #333;
                      background: #fff;
                      }
                      .list9{
                        color: #ccc;
                        font-weight: 600;
                        position: absolute;
                        top: 50%;
                        right: 5%;
                        font-size: 22px;
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        -webkit-transition: all ease-out .2s;
                        transition: all ease-out .2s;
                        }
                      .l-box10{
                        position: relative;
                        display: block;
                        min-height: 20px;
                        padding: 14px;
                        font-size: 14px;
                        color: #333;
                        background: #fff;
                        }
                        .list10{
                          color: #ccc;
                          font-weight: 600;
                          position: absolute;
                          top: 50%;
                          right: 5%;
                          font-size: 22px;
                          -webkit-transform: translate(0, -50%);
                          transform: translate(0, -50%);
                          -webkit-transition: all ease-out .2s;
                          transition: all ease-out .2s;
                          }
                        .l-box11{
                        position: relative;
                        display: block;
                        min-height: 20px;
                        padding: 14px;
                        font-size: 14px;
                        color: #333;
                        background: #fff;
                        }
                        .list11{
                          color: #ccc;
                          font-weight: 600;
                          position: absolute;
                          top: 50%;
                          right: 5%;
                          font-size: 22px;
                          -webkit-transform: translate(0, -50%);
                          transform: translate(0, -50%);
                          -webkit-transition: all ease-out .2s;
                          transition: all ease-out .2s;
                          }
                        .l-box12{
                          position: relative;
                          display: block;
                          min-height: 20px;
                          padding: 14px;
                          font-size: 14px;
                          color: #333;
                          background: #fff;
                          }
                          .list12{
                            color: #ccc;
                            font-weight: 600;
                            position: absolute;
                            top: 50%;
                            right: 5%;
                            font-size: 22px;
                            -webkit-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                            -webkit-transition: all ease-out .2s;
                            transition: all ease-out .2s;
                            }
                          .l-box13{
                            position: relative;
                            display: block;
                            min-height: 20px;
                            padding: 14px;
                            font-size: 14px;
                            color: #333;
                            background: #fff;
                            }
                            .list13{
                              color: #ccc;
                              font-weight: 600;
                              position: absolute;
                              top: 50%;
                              right: 5%;
                              font-size: 22px;
                              -webkit-transform: translate(0, -50%);
                              transform: translate(0, -50%);
                              -webkit-transition: all ease-out .2s;
                              transition: all ease-out .2s;
                              }
                            .l-box14{
                              position: relative;
                              display: block;
                              min-height: 20px;
                              padding: 14px;
                              font-size: 14px;
                              color: #333;
                              background: #fff;
                              }
                              .list14{
                                color: #ccc;
                                font-weight: 600;
                                position: absolute;
                                top: 50%;
                                right: 5%;
                                font-size: 22px;
                                -webkit-transform: translate(0, -50%);
                                transform: translate(0, -50%);
                                -webkit-transition: all ease-out .2s;
                                transition: all ease-out .2s;
                                }
.l-merupei-box{
  margin: 40px 0 0;
  font-weight: 600;
}
.l-box15{
  position: relative;
  display: block;
  min-height: 20px;
  padding: 14px;
  font-size: 14px;
  color: #333;
  background: #fff;
  }
  .list15{
    color: #ccc;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 22px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;
    }
  .l-box16{
    position: relative;
    display: block;
    min-height: 20px;
    padding: 14px;
    font-size: 14px;
    color: #333;
    background: #fff;
    }
    .list16{
      color: #ccc;
      font-weight: 600;
      position: absolute;
      top: 50%;
      right: 5%;
      font-size: 22px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all ease-out .2s;
      transition: all ease-out .2s;
      }

.l-settei-box{
margin: 40px 0 0;
font-weight: 600;
}
.l-box17{
  position: relative;
  display: block;
  min-height: 20px;
  padding: 14px;
  font-size: 14px;
  color: #333;
  background: #fff;
  }
  .list17{
    color: #ccc;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 22px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;
    }
  .l-box18{
    position: relative;
    display: block;
    min-height: 20px;
    padding: 14px;
    font-size: 14px;
    color: #333;
    background: #fff;
    }
    .list18{
      color: #ccc;
      font-weight: 600;
      position: absolute;
      top: 50%;
      right: 5%;
      font-size: 22px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all ease-out .2s;
      transition: all ease-out .2s;
      }
    .l-box19{
      position: relative;
      display: block;
      min-height: 20px;
      padding: 14px;
      font-size: 14px;
      color: #333;
      background: #fff;
      }
      .list19{
        color: #ccc;
        font-weight: 600;
        position: absolute;
        top: 50%;
        right: 5%;
        font-size: 22px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transition: all ease-out .2s;
        transition: all ease-out .2s;
        }
      .l-box20{
        position: relative;
        display: block;
        min-height: 20px;
        padding: 14px;
        font-size: 14px;
        color: #333;
        background: #fff;
        }
        .list20{
          color: #ccc;
          font-weight: 600;
          position: absolute;
          top: 50%;
          right: 5%;
          font-size: 22px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          -webkit-transition: all ease-out .2s;
          transition: all ease-out .2s;
          }
        .l-box21{
          position: relative;
          display: block;
          min-height: 20px;
          padding: 14px;
          font-size: 14px;
          color: #333;
          background: #fff;
          }
          .list21{
            color: #ccc;
            font-weight: 600;
            position: absolute;
            top: 50%;
            right: 5%;
            font-size: 22px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            -webkit-transition: all ease-out .2s;
            transition: all ease-out .2s;
            }
          .l-box22{
            position: relative;
            display: block;
            min-height: 20px;
            padding: 14px;
            font-size: 14px;
            color: #333;
            background: #fff;
            }
            .list22{
              color: #ccc;
              font-weight: 600;
              position: absolute;
              top: 50%;
              right: 5%;
              font-size: 22px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              -webkit-transition: all ease-out .2s;
              transition: all ease-out .2s;
              }
            .l-box23{
              position: relative;
              display: block;
              min-height: 20px;
              padding: 14px;
              font-size: 14px;
              color: #333;
              background: #fff;
              }
              .list23{
                color: #ccc;
                font-weight: 600;
                position: absolute;
                top: 50%;
                right: 5%;
                font-size: 22px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                -webkit-transition: all ease-out .2s;
                transition: all ease-out .2s;
              }
                .hover1{
                background-color: #b1eeff;
                padding: 10px;
                font-size: 18px;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all  0.3s ease;
                }
               .hover1:hover{
                background-color: #ffc9d7;
                padding: 25px;
                font-size: 24px;
                }