// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//ここはヘッダー
// .top-header{
//   height: 50px;
//   width: 100vw;
//   background-color: white;
//   .top-header-logo{
//     height: 52px;
//     width:133px;
//     float: left;
//     margin-left:10%;
//   }
//   &__box{
//     height: 100%;
//     width: 86%;
//     margin: 0 auto;
//     .form{
//       float: right;
//       margin-top: 7px;
//       width: 80%;
//     }
//     .form__serch{
//       width:95%;
//       height: 38px;
//       background-color: #f5f5f5;
//       border-radius: 5px;
//       border: 1px solid #cccccc;
//     }
//     i.fas{
//       width: 10px;
//       height: 5px;
//       position: absolute;
//       right:150px;
//       top: 21px;
//       font-size: 80%;
//       color: #333333;
//     }
//     .btn{
//       display: none;
//     }
//   }
// }
// //////////////////////////////
// ////ここからヘッダーのした部分
// .top-header__box__bottom{
//   height:50px;
//   width:100vw;
//   background-color: white;
//   ul{
//     height: 50px;
//     width:100%;
//     display: none;
//     bottom: -3px;
//     li.lia{
//       // width: 12%;
//       line-height: 48px;
//       font-size: 14px;
//       font-weight: bold;
//       position: absolute;
//       color: #333333;
//       .lia-li{
//         background-color: white;
//         font-weight: normal;
//         padding-left: 15px;
//         color: #333333;
//         display: none;
//         width:224px;
//         z-index: 10;
//         height: 43px;
//         line-height:  43px;
//       }
//       .lia-li:hover{
//         background-color: #ea352d;
//         color: white;
//       }
//       .lia-li:hover > .second-layer{
//         display: block;
//       }
//       ul.second-layer{
//         position: absolute;
//         margin-left: 224px;
//         top: 47px;
//         z-index:6px;
//         width:224px;
//         display: none;
//         li.second-menu{
//           color: #333333;
//           position: initial;
//           background-color: white;
//           z-index: 20;
//           width: 224px;
//           bottom: 5px;
//           padding-left: 15px;
//           line-height: 30px;
//           height: 30px;
//         }
//         li.second-menu:hover{
//           background-color: #eeeeee;
//         }
//         li.second-menu:hover > .third-layer{
//           display: block;
//         }
//         .third-layer{
//           position: absolute;
//           left:224px;
//           width:300px;
//           top: 0;
//           z-index:1;
//           display: none;
//           background-color: white;
//           height: 100%;
//           &__a{
//             position: relative;
//             bottom: 30px;
//           }
//           li.third-menu{
//             position:relative;
//             z-index: 9;
//             padding-left:15px;
//             width:300px;
//             background-color:#ffffff;
//             height: 30px;
//             line-height: 30px;
//             color: #333333;
//           }
//           .third-menu:hover{
//             background-color: #eeeeee;
//           }
//         }
//       }
//     }
//   }
// }
// //////////アイコン
// .fa-search{
//   position: relative;
//   right: 30px;
// }
// .fa-list-ul,.fa-tag{
//   color: #ea352d;
// }
// .fa-heart,.fa-bell,.fa-check,.fa-circle{
//   color: rgba(197, 197, 197, 0.911);
//   font-size: 15px;
// }
// .fa-twitter,.fa-facebook-square{
//   color: white;
//   font-size: 34px;
//   position: relative;
//   top: 30px;
// }
// .fa-facebook-square{
//   position: relative;
//   left: 10px;
// }

// /////////ブランドから探す
// .lic-bland{
//   font-weight: bold;
//   height: 50px;
//   padding: 16px 0 16px ;
//   .lic1-li{
//     bottom: 5px;
//     position: relative;
//     background-color: white;
//     z-index: 4;
//     padding-left: 15px;
//     width: 224px;
//     font-weight: normal;
//     color: #333333;
//     height:43px;
//     line-height: 43px;display: none;
//   }
//   .lic1-li:hover{
//     background-color: #ea352d;
//     color: white;
//   }
// }
// .lic-bland:hover > .lic1-li{
//   display: block;
// }
// .lic-right,.lic-bland{
//   text-decoration: none;
//   color: #333333;
//   line-height: 40px;
//   width: 148px;
// }
// .lic-right1{
//   text-decoration: none;
//   line-height: 40px;
//   color: #333333;
//   width: 100px;
// }
// .lic-right2{
//   text-decoration: none;
//   line-height: 40px;
//   color: #333333;
//   width: 160px;
// }


.lic-bland:hover,.lic-right:hover{
  color: rgb(0, 195, 255);
}
.second-header{
  width: 100%;
  background-color:#ffffff;
  border-top: 1px solid #eee;
  box-shadow: 1px 1px 3px gray;
}
  .s-header{
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
  .s-header-box{
    display: inline-block;
  }
  .s-header-box1{
    display: inline-block;
  }
  .s-header-box2{
    display: inline-block;
  }
.main-page{
  width: 100%;

  .main-page_box{
    margin: 40px auto 0;
    width: 1020px;
    height: 190vh;
    
    .r-content{
      width: 700px;
      float: right;

      .r-content-top{
        position: relative;
        height: 200px;
        padding: 20px;
        background: url(futta2034-1440x900.jpg);
        .r-content-top-main{
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #333;
          .top-abata{
            overflow: hidden;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
            background: url(logo.png);
              .top-image{
                background: url(logo.png)
      }
     }
    }
   }}
  }
}
.r-content-main{
    
  .main-top{
    line-height: 72px;
    }

    .main-top-left{
      display: inline-block;
      width: 50%;
      text-align: center;
      background: #fff;
      border-top: 2px solid #ea352d;
        .main-top-left1{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
         }
        }
        .main-top-right{
          display: inline-block;
          width: 50%;
          text-align: center;
          float: right;
      }
    }
  
  

  .main-tab{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
   .main-tab1{
     position: relative;
      display: block;
      .tab1{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d{
            display: inline-block;
            color: #888;}
          .tab1dtime{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan{
            display: inline-block;
          }
          .top-icon{
            position: absolute;
            right: 3%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            top:50%;
            font-size: 22px;
          }
      }}
   }

   .main-tab-1{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
   .main-tab1-1{
      display: block;
      position: relative;
      .tab1-1{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-1{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-1{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-1{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-1{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-1{
            display: inline-block;
            color: #888;}
          .tab1dtime-1{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-1{
            display: inline-block;
          }
         }
         .top-icon1{
          position: absolute;
          top:50%;
          right: 3%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          font-size: 22px;
        }
      }

   }
    
   .main-tab-2{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-2{
      display: block;
      position: relative;
      .tab1-2{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-2{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-2{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-2{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-2{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-2{
            display: inline-block;
            color: #888;}
          .tab1dtime-2{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-2{
            display: inline-block;
          }
          .top-icon2{
            position: absolute;
            right: 3%;
            top:50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 22px;
          }
      }}
   }

   .main-tab-3{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-3{
    position: relative;
      display: block;
      .tab1-3{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-3{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-3{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-3{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-3{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-3{
            display: inline-block;
            color: #888;}
          .tab1dtime-3{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-3{
            display: inline-block;
          }
          .top-icon3{
            position: absolute;
            top:50%;
            right: 3%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 22px;
          }
      }}
   }


   .main-tab-4{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-4{
      display: block;
      position: relative;
      .tab1-4{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;   
        .tab1a-4{
          display: block;
          height: 56px;
          margin: 0 auto;
          background: #eee;
          color: #333;
          line-height: 56px;
          text-align: center;
        }
    } }
  }
  .main-senter-tab{
    margin:40px 0 0;
    
  }
  .senter-header-tab{
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
    padding: 0 16px;
  }

  .senter-content-main{
  }
    .senter-main-top{
      line-height: 72px;
      }
  
      .senter-main-top-left{
        display: inline-block;
        width: 50%;
        text-align: center;
        background: #fff;
        border-top: 2px solid #ea352d;}

          .senter-main-top-left1{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
           }
          
          .senter-main-top-right{
            display: inline-block;
            width: 50%;
            text-align: center;
            float: right;
        }
        .senter-main-tab{
          background-repeat: no-repeat;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid #eee;
         .senter-main-tab1{
            display: block;
            position: relative;
            .senter-tab1{
              display: block;
              min-height: 48px;
              padding: 16px;
              color: #333;
              background: #fff;
      .senter-tab1a{
        position: relative;
        overflow: hidden;
        float: left;
        width: 48px;
        height: 48px;
      }
      .senter-tab1ax{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
      }
      .senter-tab1b{
        margin: 0 40px 0 68px;
        font-size: 14px;
      }
        .senter-tab1bx{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}
          .senter-tab1d{
            display: inline-block;
            color: #888;}
          .senter-tab1dtime{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .senter-tabspan{
            display: inline-block;
          }
          .senter-top-icon{
            position: absolute;
            right: 3%;
            top:50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 22px;
          }
        }}}


    .l-content{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
    }
    .l-content-box{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    }
    .l-content-list{
      list-style: none;
    }
    .l-box1{
    position: relative;
    display: block;
    min-height: 20px;
    padding: 14px;
    font-size: 14px;
    color: #333;
    background: #eee;
    font-weight: 600;
    }
    .list1{
    background: #eee;
    font-weight: 600;
    }

    .l-box2{
      position: relative;
      display: block;
      min-height: 20px;
      padding: 14px;
      font-size: 14px;
      color: #333;
      background: #fff;
      }
      .l-box2{
        position: relative;
        display: block;
        min-height: 20px;
        padding: 14px;
        font-size: 14px;
        color: #333;
        background: #fff;
        }
        .l-box3{
          position: relative;
          display: block;
          min-height: 20px;
          padding: 14px;
          font-size: 14px;
          color: #333;
          background: #fff;
          }
          .l-box4{
            position: relative;
            display: block;
            min-height: 20px;
            padding: 14px;
            font-size: 14px;
            color: #333;
            background: #fff;
            }
            .l-box5{
              position: relative;
              display: block;
              min-height: 20px;
              padding: 14px;
              font-size: 14px;
              color: #333;
              background: #fff;
              }
              .l-box6{
                position: relative;
                display: block;
                min-height: 20px;
                padding: 14px;
                font-size: 14px;
                color: #333;
                background: #fff;
                }
                .l-box7{
                  position: relative;
                  display: block;
                  min-height: 20px;
                  padding: 14px;
                  font-size: 14px;
                  color: #333;
                  background: #fff;
                  }
                  .l-box8{
                    position: relative;
                    display: block;
                    min-height: 20px;
                    padding: 14px;
                    font-size: 14px;
                    color: #333;
                    background: #fff;
                    }
                    .l-box9{
                      position: relative;
                      display: block;
                      min-height: 20px;
                      padding: 14px;
                      font-size: 14px;
                      color: #333;
                      background: #fff;
                      }
                      .l-box10{
                        position: relative;
                        display: block;
                        min-height: 20px;
                        padding: 14px;
                        font-size: 14px;
                        color: #333;
                        background: #fff;
                        }
                        .l-box11{
                        position: relative;
                        display: block;
                        min-height: 20px;
                        padding: 14px;
                        font-size: 14px;
                        color: #333;
                        background: #fff;
                        }
                        .l-box12{
                          position: relative;
                          display: block;
                          min-height: 20px;
                          padding: 14px;
                          font-size: 14px;
                          color: #333;
                          background: #fff;
                          }
                          .l-box13{
                            position: relative;
                            display: block;
                            min-height: 20px;
                            padding: 14px;
                            font-size: 14px;
                            color: #333;
                            background: #fff;
                            }
                            .l-box14{
                              position: relative;
                              display: block;
                              min-height: 20px;
                              padding: 14px;
                              font-size: 14px;
                              color: #333;
                              background: #fff;
                              }
.l-merupei-box{
  margin: 40px 0 0;
  font-weight: 600;
}
.l-box15{
  position: relative;
  display: block;
  min-height: 20px;
  padding: 14px;
  font-size: 14px;
  color: #333;
  background: #fff;
  }
  .l-box16{
    position: relative;
    display: block;
    min-height: 20px;
    padding: 14px;
    font-size: 14px;
    color: #333;
    background: #fff;
    }

.l-settei-box{
margin: 40px 0 0;
font-weight: 600;
}
.l-box17{
  position: relative;
  display: block;
  min-height: 20px;
  padding: 14px;
  font-size: 14px;
  color: #333;
  background: #fff;
  }
  .l-box18{
    position: relative;
    display: block;
    min-height: 20px;
    padding: 14px;
    font-size: 14px;
    color: #333;
    background: #fff;
    }
    .l-box19{
      position: relative;
      display: block;
      min-height: 20px;
      padding: 14px;
      font-size: 14px;
      color: #333;
      background: #fff;
      }
      .l-box20{
        position: relative;
        display: block;
        min-height: 20px;
        padding: 14px;
        font-size: 14px;
        color: #333;
        background: #fff;
        }
        .l-box21{
          position: relative;
          display: block;
          min-height: 20px;
          padding: 14px;
          font-size: 14px;
          color: #333;
          background: #fff;
          }
          .l-box22{
            position: relative;
            display: block;
            min-height: 20px;
            padding: 14px;
            font-size: 14px;
            color: #333;
            background: #fff;
            }
            .l-box23{
              position: relative;
              display: block;
              min-height: 20px;
              padding: 14px;
              font-size: 14px;
              color: #333;
              background: #fff;
              }
              
                        
//////////////////////header-css
// .top-header__box__bottom2{
//   background-color: #ea352d;
//   ul.top-header__box__bottom2{
//     display: flex;
//     flex-direction: row;
//     }