// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//ここはヘッダー
.top-header{
  height: 50px;
  width: 100vw;
  background-color:#ffffff;
  .top-header-logo{
    height: 52px;
    width:133px;
    float: left;
    margin-left:10%;
  }
  &__box{
    height: 100%;
    width: 86%;
    margin: 0 auto;
    .form{
      float: right;
      margin-top: 7px;
      width: 80%;
    }
    .form__serch{
      width:95%;
      height: 38px;
      background-color: #f5f5f5;
      border-radius: 5px;
      border: 1px solid #cccccc;
    }
    &__bottom{
      height:50px;
      width: 100vw;
      background-color:#ffffff;
      ul{
        width: 100%;
        flex-direction: row;
        display: flex;
        li{
          width: 119px;
          line-height: 30px;
          font-size: 14px;
          }
        .lia{
          margin-left: 10%;
          font-weight: bold;
          transition: all;
          width: 150px;
        }
        .lia:hover .lia-li{
          display: block;
        }
        .lia:hover,.lib:hover,.lic:hover{
          color: rgb(0, 195, 255);
        }
        .lib{
          width: 10%;
          text-align: center;
        }
        .lic-bland-b{
          margin-left: 24%;
          margin-right: 180px;
          font-weight: bold;
          line-height: 47px;
          width: 130px;
        }
        .lic1{
          text-decoration: none;
          color: #333333;
        }
      }
    }
  }
}
.second-header{
  width: 100%;
  background-color:#ffffff;
  border-top: 1px solid #eee;
  box-shadow: 1px 1px 3px gray;
}
  .s-header{
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
  .s-header-box{
    display: inline-block;
  }
  .s-header-box1{
    display: inline-block;
  }
  .s-header-box2{
    display: inline-block;
  }
.main-page{
  width: 100%;

  .main-page_box{
    margin: 40px auto 0;
    width: 1020px;
    height: 1000px;
    
    .r-content{
      width: 700px;
      float: right;

      .r-content-top{
        position: relative;
        height: 200px;
        padding: 20px;
        background: url(futta2034-1440x900.jpg);
        .r-content-top-main{
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #333;
          .top-abata{
            overflow: hidden;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
            background: url(logo.png);
              .top-image{
                background: url(logo.png)
      }
     }
    }
   }}
  }
}
.r-content-main{
    
  .main-top{
    line-height: 72px;
    }

    .main-top-left{
      display: inline-block;
      width: 50%;
      text-align: center;
      background: #fff;
      border-top: 2px solid #ea352d;
        .main-top-left1{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
         }
        }
        .main-top-right{
          display: inline-block;
          width: 49%;
          text-align: center;
      }
    }
  
 

  .main-tab{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
   .main-tab1{
      display: block;
      .tab1{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d{
            display: inline-block;
            color: #888;}
          .tab1dtime{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan{
            display: inline-block;
          }
          .top-icon{
            position: absolute;
            top: 140%;
            right: 16%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
      }}
   }

   .main-tab-1{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
   .main-tab1-1{
      display: block;
      .tab1-1{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-1{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-1{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-1{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-1{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-1{
            display: inline-block;
            color: #888;}
          .tab1dtime-1{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-1{
            display: inline-block;
          }
         }
         .top-icon1{
          position: absolute;
          top: 162%;
          right: 16%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
      }

   }
    
   .main-tab-2{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-2{
      display: block;
      .tab1-2{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-2{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-2{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-2{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-2{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-2{
            display: inline-block;
            color: #888;}
          .tab1dtime-2{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-2{
            display: inline-block;
          }
          .top-icon2{
            position: absolute;
            top: 182%;
            right: 16%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
      }}
   }

   .main-tab-3{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-3{
      display: block;
      .tab1-3{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;
        .tab1a-3{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        .tab1ax-3{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
        .tab1b-3{
          margin: 0 40px 0 68px;
          font-size: 14px;
        }
        .tab1bx-3{
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;}

          .tab1d-3{
            display: inline-block;
            color: #888;}
          .tab1dtime-3{
            margin: 0 8px 0 0;
            display: inline-block;
          }
          .tabspan-3{
            display: inline-block;
          }
          .top-icon3{
            position: absolute;
            top: 202%;
            right: 16%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
      }}
   }


   .main-tab-4{
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   .main-tab1-4{
      display: block;
      .tab1-4{
        display: block;
        min-height: 48px;
        padding: 16px;
        color: #333;
        background: #fff;   
        .tab1a-4{
          display: block;
          height: 56px;
          margin: 0 auto;
          background: #eee;
          color: #333;
          line-height: 56px;
          text-align: center;
        }
    } }
  }
  .main-senter-tab{
    margin:40px 0 0;
    background:#ea352d;
    
  }
  .senter-header-tab{
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }

