// Place all the styles related to the User_detail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-detail-edit-form{
  margin: 0 auto;
  text-align: left;
  padding: 64px;
  font-size: 14px;
  .red-btn{
    font-size: 14px;
    margin-top: 24px;
    color: white;
    background-color: #ea352d;
    border-radius: 0;
  }
  .form-group{
    margin: 40px 0 0;
  }
}